
/* Início - Configuração padrão do CSS*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto';
}

.center {
	max-width: 1100px;
	width: 100%;
	margin: 0 auto;
	padding: 0 2%;
}

.clear {
	clear: both;
}

.w50 {
	float: left;
	width: 50%;
	padding: 0 15px;
}

.w30 {
	float: left;
	width: 30%;
	padding: 0 15px;
}

.menu-mobile { display: none; margin-top: 35px;}
.menu-mobile { float: right; }

.menu-mobile i {
	font-size: 35px;
	color: white;
	cursor: pointer;
}

.menu-mobile ul {
	display: none;
	left:0;
	top: 82px;
	width: 100%;
	position: absolute;
	list-style-type: none;
}

.menu-mobile li {
	display: block;
	width: 100%;
	background: white;
	border-bottom: 1px solid #000;
	text-align: center;
	padding: 10px 0;
}

.menu-mobile a {
	display: block;
	text-decoration: none;
	color: #202020;
}
/*fim - configuração padrão*/

section.topo {
	background-image:url('../images/background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
	max-height: 580px;
}

.logo {
	margin-top: 150px;
	text-align: center;
	min-height: 500px;
}

.logo span {
	font-size: 100px;
	font-family: 'Pacifico';
	color: #F6F7F8;
}

.logo small {
	font-size: 22px;
	color: #a1a1a1;
}

.logo i {
	font-size: 30px;
	color: #a1a1a1;
}

.menu-desktop {
	float: right;
	margin-top: 50px;
}

.menu-desktop li {
	display: inline-block;
	margin: 0 15px;
}

.menu-desktop a {
	text-decoration: none;
	color: white;
	opacity: 0.6;
	cursor: pointer;
}
.menu-desktop a:hover {
	opacity: 1;
}

.circulo-page {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	box-shadow: 0 10px 25px 0 rgba(37, 15, 139, 0.2);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 35px;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	background-color: #F6F7F8;;
	margin-top: -115px;
	margin-bottom: 40px;
	margin-right: 0;
}

.circulo-page a {
	color: #011627;
	text-decoration: none;
	cursor: pointer;
}

section.sobre {
	text-align: center;
	padding-top: 80px;
	padding-bottom: 80px;
	background-color: #F6F7F8;
}

section.sobre span {
	font-size: 50px;
	font-family: 'Pacifico';
	color: #011627;
}

section.sobre img {
	border-radius: 10px;
}

section.sobre p {
	text-align: justify;
}

section.sobre .row {
	margin-top: 40px;
}

.imagem {
	text-align: right;
}

section.contato {
	background-color: #A2AAB0; /*#465561*/
	width: 100%;
	padding-top: 80px;
}

section.contato h3 {
	text-align: center;
	font-size: 50px;
	font-family: 'Pacifico';
	color: #011627;
	padding-bottom: 40px;
}

section.contato .form-control {
	margin-bottom: 20px;
}

.enviar {
	margin-bottom: 80px;
}

section.portifolio {
	background-color: #2F404E;
	width: 100%;
	padding-top: 80px;
	padding-bottom: 40px;
}

section.portifolio span {
	text-align: center;
}

section.portifolio h3 {
	font-size: 50px;
	font-family: 'Pacifico';
	color: #F6F7F8;
	padding-bottom: 40px;
}

section.portifolio .row {
	display: flex;
	justify-content: center;
}

section.portifolio .card { margin-top: 20px; }

.carousel-item img {
	height: 252px;
}

.centro {
	text-align: center;
}

footer.rodape {
	background-color: #011627;
	color: #F6F7F8;
	text-align: center;
	min-height: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.fab {
	font-size: 20px;
	padding-left: 10px;
	padding-top: 2px;
}

section.mensagem {
	margin-top: 40px;
}

@media screen and (max-width: 768px) {
	section.sobre p { text-align: justify; padding-left: 20px; padding-right: 20px;}
	section.sobre .row { margin-top: 40px;}
	section.sobre .imagem { text-align: center;}
	section.portifolio .card img { height: 200px; }
}

@media screen and (max-width: 575px) {

	.w50 { width: 100%; }
	.menu-desktop { display: none; }
	.menu-mobile { display: block; }
	section.topo { max-height: 350px; }
	.logo {
		margin-top: 50px;
		text-align: center;
		min-height: 250px;
	}

	.logo span {font-size: 40px;}
	.logo small { font-size: 14px; color: #a1a1a1;}
	.logo i { font-size: 25px; color: #a1a1a1;}
	section.sobre { padding-bottom: 40px; }
	section.sobre span { font-size: 40px;}
	.imagem { text-align: center; margin-bottom: 20px; }
	section.contato { padding-top: 40px; }
	section.contato h3 { font-size: 30px; padding-bottom: 25px;}
	.enviar { margin-bottom: 40px; }
	section.portifolio { padding-top: 40px; padding-bottom: 15px; }
	section.portifolio h3 { font-size: 30px; }
	section.portifolio .col-sm-4 { margin-bottom: 15px; }

	.row {
		display:-ms-flexbox;
		display:flex;
		-ms-flex-wrap:wrap;
		flex-wrap:wrap;
		margin-right:0;
		margin-left:0;	
	}
}